[Desktop Entry]
Name=Phabricator Revisions
Comment=Lists the most recent diffs for a Phabricator website.

Type=Service
Icon=phabricator-logo.svg
X-KDE-ServiceTypes=Plasma/Applet

X-Plasma-API=declarativeappletscript
X-Plasma-MainScript=ui/Main.qml

X-KDE-PluginInfo-Author=Chris Holland
X-KDE-PluginInfo-Email=zrenfire@gmail.com
X-KDE-PluginInfo-Name=com.github.zren.phabricatorrevisions
X-KDE-PluginInfo-Version=1
X-KDE-PluginInfo-Website=https://github.com/Zren/plasma-applet-phabricatorrevisions
X-KDE-PluginInfo-Category=Online Services
